body {
    background:#37899c;
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
}

#title, .subtitle, .post_title, p {
    color:#001f36;
}

#title {
    font-size: 30px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: darkolivegreen;
}

.post_title {
    font-size: 25px;
    font-style: bold;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 10px;
}

.photo_1 {
    border-radius: 50%;
    border: 3px solid #004658;
}

.post_article, #title {
    background:#1c687a;
    padding: 15px;
    border: 3px dashed #004658;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.photo_2{
    border-radius: 5px;
    margin:0;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform:initial;
    text-align: justify;
}

.subtitle {
    margin: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;

}

.contacts_list li a {
    text-decoration: none;
}