body {
    background:paleturquoise;
    font-family: Arial;
}

#title, .subtitle, .post_title, p {
    color:darkolivegreen;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: darkolivegreen;
}

.post_title {
    font-size: 25px;
    font-style: bold;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 10px;
}

.photo_1 {
    border-radius: 50%;
    border: 3px solid #FFDAB9;
}

.post_article, #title {
    background:papayawhip;
    padding: 15px;
    border: 3px dashed #FFDAB9;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.photo_2{
    border-radius: 5px;
    margin:0;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform:initial;
}

.subtitle {
    margin: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;

}

.contacts_list li a {
    text-decoration: none;
}